{% if sites %}
{% for site in sites %}
<VirtualHost *:80>
  servername {{ sites[site].server_name }}
  serveralias {{ sites[site].server_name }}
  DocumentRoot {{ sites[site].docroot }}
  <Directory {{ sites[site].docroot }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
    RewriteEngine on
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ index.php [L]
  </Directory>
</VirtualHost>
{% endfor %}
{% endif %}
